<nav class="sidebar sidebar-offcanvas bg-facebook" id="sidebar" >
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="user-wrapper">
                <div class="profile-image">
                  <img src="{{user.thumb.url}}">
                </div>
                <div class="text-wrapper">
                  <p class="profile-name">{{user.username | upper}} </p>
                  <div>
                    <small class="designation text-muted">Employee</small>
                    <span class="status-indicator online"></span>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'hrms:dashboard_emp' %}">
              <i class="fa  fa-dashboard"></i>
              <span class="menu-title">&emsp;Dashboard</span>
            </a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'hrms:apply_leave' %}">
              <i class="fa fa-usd"></i>
              <span class="menu-title">&emsp;Leave</span>
            </a>
          </li>

        </ul>
      </nav>